name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:


jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      -
        uses: actions/checkout@v6
      -
        uses: actions/setup-go@v6
        with:
          go-version: stable
          check-latest: true
          cache: true
      -
        name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          only-new-issues: true
          skip-cache: true

  test:
    strategy:
      matrix:
        go-version: ['1.19.x', 'oldstable', 'stable' ]
        lint-and-coverage: [ false ]
        include:
          - go-version: stable
            lint-and-coverage: true

    runs-on: ubuntu-latest
    needs: [lint]

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}

      - name: Install dependencies
        run: go mod download

      - name: Build
        run: go build -v ./...

      - name: Test with the Go CLI
        run: |
          go version
          if [ ${{ matrix.lint-and-coverage }} = true ]; then
              GO_TEST_OPTS="-covermode=atomic -coverprofile=coverage.out"
          fi
          export GORACE="halt_on_error=1"
          go test -race $GO_TEST_OPTS ./...

      - name: Reporting coverage
        if: matrix.lint-and-coverage
        uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: coverage.out
