name: Release

permissions:
  contents: read

on:
  push:
    tags:
      - 'v[0-9]*'
  workflow_dispatch:

jobs:
  gh-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      -
        name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      -
        name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: stable
          check-latest: true
          cache: true
      -
        name: Install UPX
        uses: crazy-max/ghaction-upx@v3
        with:
          install-only: true
      -
        name: Run goreleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
